@import "tailwindcss";

.app-logo {
    transition: transform 0.3s ease;
    transform-origin: center;
    justify-content: start;
  }
  
  .app-logo:hover {
    transform: scale(1.2);
  }

  img{
    height: 115px;
    width: 115px;
  }

.logo-container {
  display: grid;
  justify-content: center;
  width: 585px;
  height: 120px;
}