@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Encode+Sans:wdth,wght@112.5,900&display=swap');
@import "tailwindcss";

.body{
  height:100vh;
  width: 100wv;
}

.app-logo {
    transition: transform 0.3s ease;
    transform-origin: center;
    justify-content: start;
  }
  
  .app-logo:hover {
    transform: scale(1.2);
  }

  img{
    height: 105px;
    width: 105px;
  }

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 585px;
  height: 120px;
  /*translate:10% 10%;*/
  margin-top: calc(100%-(100%-120px));
  
}

.app-text{
  h1{
    font-size: 84px;
    font-family: "Encode Sans", sans-serif;
    background: linear-gradient(
    to right,
    #88C9D5,
    #E2848C
  );
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
  }
}

@media (min-width: 843px) and (max-width: 1920px) {
  .container {
    width: 800px;
    height: calc(100vh - 80px);
  }
}