#IP/DOMAIN
IP = 127.0.0.1
VITE_DOMAIN_NAME = '' #Include http or https

#HTTPS
HTTPS_ENABLED = false
CERTIFICATE_LOCATION = ''
PRIVATE_KEY_LOCATION = ''

#PORTS
#VITE
HTTPS_PORT_NUMBER = 
HTTP_PORT_NUMBER = 3000
#NODE
HTTPS_PORT_NUMBER = 
HTTP_PORT_NUMBER = 8080

#MONGODB
DB_KEY = 
COLLECTION_NAME = 

#SESSION SECRET
SESSION_SECRET =