#IP/DOMAIN
IP = 127.0.0.1
DOMAIN_NAME = ''

#HTTPS
HTTPS_ENABLED = false
CERTIFICATE_LOCATION = ''
PRIVATE_KEY_LOCATION = ''

#PORT
#VITE
HTTPS_PORT_NUMBER = 
HTTP_PORT_NUMER = 3000
#NODE
HTTPS_PORT_NUMBER = 
HTTP_PORT_NUMER = 8080

#MONGODB
DB_KEY = 