.dashboard-body{
  display: flex;
  justify-content: start;
  flex-direction: row;
  align-items: center;
  gap: 2.5%;
}

.dashboard-logo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    height: 12%;
    align-items: center;
    margin-top: 5%;
    gap: 10%;
}

.dashboard-title-text{
    h1{
        font-size: 64px;
        font-family: "Encode Sans", sans-serif;
        color: #494848;
        font-weight: 900;
    }
}

.chores-todo-text{
    h2{
        font-size: 32px;
        font-family: "Encode Sans Semi Expanded", sans-serif;
    }
}

.smaller-containers{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.small-container-header{
    margin-top: 5%;
    h1{
        font-size: 48px;
        font-family: "Encode Sans", sans-serif;
        color: #494848;
        font-weight: 900;
    }
}

.new-chore-container-header{
    position:relative;
    width: 100%;
}

.chore-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
}

.houses-container-header{
    justify-content: space-between;
    align-items: center;
    width: 80%
}

.houses-container{
    display: flex;
    flex-direction: column;
    width:95%;
    height: 80%;
    justify-content: start;
    gap: 5%;
    align-items: center;
}

.house-entry{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    h1{
        font-size: 36px;
        font-family: "Encode Sans", sans-serif;
        color: #494848;
        font-weight: 400;
        line-height: 1.2;
    }
}

.house-actions{
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.house-button{
    flex-direction: row;
    width: auto;
    height: auto;
    background-color: #E2848C;
    cursor: pointer;
    transform-origin: center;
    padding: 7.5%;
    border-radius: 12.5%;
    h1{
        font-family: "Encode Sans", sans-serif;
        font-weight: 600;
        font-size: 32px;
        color: white;
        cursor: pointer;
    }
}

.dashboard-container{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    gap: 15%;
}

.dashboard-small-container{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    gap: 2.5%;
}

@media (min-width: 843px) and (max-width: 1920px) {
    .dashboard-container {
        width: 42.5vw;
        height: 96vh;
    }
    .smaller-containers{
        width: 42.5vw;
        height: 96vh;
    }
    .dashboard-small-container {
        height: 48%;
    }
}

@media (min-width:1921px) {
    .dashboard-container{
        width: 42vw;
        height: 96vh;
    }
}